<div class="match match--{{ matchData.prediction }} clear" ng-class="{ 'match--disabled': worldCupStarted }">
  <span class="match__date">{{ matchData.date }}</span>

  <div class="match__score match__score--home">
    <i class="flag flag--{{ matchData.homeTeamClass }}"></i>
    <input type="text" class="match__score-field" ng-model="matchData.homeScore" placehold ng-disabled="worldCupStarted">
    <label class="match__label">{{ matchData.homeTeam }}</label>
  </div>

  <div class="match__score match__score--away">
    <i class="flag flag--{{ matchData.awayTeamClass }}"></i>
    <input type="text" class="match__score-field" ng-model="matchData.awayScore" placehold ng-disabled="worldCupStarted">
    <label class="match__label">{{ matchData.awayTeam }}</label>
  </div>

  <p ng-show="matchData.actualHomeScore >= 0 && matchData.actualAwayScore >= 0">Actual score: {{ matchData.actualHomeScore }} - {{ matchData.actualAwayScore }}</p>

  <div class="probabilities">
    <span class="prob-win" style="width: {{ matchData.probWin }}%"></span>
    <span class="prob-draw" style="width: {{ matchData.probDraw }}%"></span>
    <span class="prob-lose" style="width: {{ matchData.probLose }}%"></span>
  </div>
</div>
