<div class="match match--{{ matchData.prediction }}">
  <p>{{ matchData.city }} - {{ matchData.stadium }}</p>
  <p>{{ matchData.date }} - {{ matchData.time }}</p>
  <p>Group {{ matchData.group }}</p>
  <p>{{ matchData.homeTeam }}
    <input type="text" class="match__score-field" ng-model="matchData.homeScore" ng-disabled="dataSubmitted"> -
    <input type="text" class="match__score-field" ng-model="matchData.awayScore" ng-disabled="dataSubmitted"> {{ matchData.awayTeam }}
  </p>
  <p>Actual score: {{ matchData.actualHomeScore }} - {{ matchData.actualAwayScore }}</p>


  <div class="probabilities">
    <span class="prob-win" style="width: {{ matchData.probWin }}%"></span>
    <span class="prob-draw" style="width: {{ matchData.probDraw }}%"></span>
    <span class="prob-lose" style="width: {{ matchData.probLose }}%"></span>
  </div>
</div>
