<div class="match match--{{ matchData.status }} clear" ng-class="{ 'match--disabled': worldCupStarted }">
  <span class="match__date">{{ matchData.date }}</span>

  <div class="match__score match__score--home">
    <i class="flag flag--{{ matchData.homeTeamClass }}"></i>
    <input type="text" class="match__score-field" ng-model="matchData.homeScore" placehold ng-disabled="worldCupStarted">
    <label class="match__label">{{ matchData.homeTeam }}</label>
  </div>

  <div class="match__score match__score--away">
    <i class="flag flag--{{ matchData.awayTeamClass }}"></i>
    <input type="text" class="match__score-field" ng-model="matchData.awayScore" placehold ng-disabled="worldCupStarted">
    <label class="match__label">{{ matchData.awayTeam }}</label>
  </div>

  <p ng-show="matchData.actualHomeScore >= 0 && matchData.actualAwayScore >= 0" class="match__actual-score">Actual score<br> {{ matchData.actualHomeScore }} - {{ matchData.actualAwayScore }}</p>

</div>

<div ng-show="matchData.prediction.percentage" class="probabilities clear">
  <h3>Bets so far</h3>
  <span class="prob-win" style="width: {{ matchData.prediction.percentage.home }}%"></span>
  <span class="prob-draw" style="width: {{ matchData.prediction.percentage.draws }}%"></span>
  <span class="prob-lose" style="width: {{ matchData.prediction.percentage.away }}%"></span>
</div>
