/**
*
* Global
*
* Bolao
*
* R/GA 2014
* @author Pedro Duarte
*
**/

* {
  @include prefixr(box-sizing, border-box);
}

html, body, button, input {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 26px;
  color: $colorText;
  text-align: center;
  background: #e7e7e7;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2 {
  @include small-only {
    font-size: 18px;
    margin: 0 5%;
  }
}

button {
  background: #0f9d58;
  border: none;
  border-bottom: 5px solid #0b6e3e;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @include medium {
    padding-left: 120px;
    padding-right: 120px;
  }

  &:hover {
    background-color: #0b6e3e;
  }

  &:disabled {
    background-color: #666;
    border-color: #666;
  }
}

.logo {
  display: block;
  margin: 30px auto 15px;

  @include medium {
    margin-top: 65px;
  }
}

.rga-logo {
  display: inline-block;
  font-weight: bold;
  line-height: 16px;
  font-size: 21px;
  position: relative;
  padding-left: 20px;
}

.rga-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  padding: 15px 15px 0 0;
  background: #E51837;
}



/*==========  MAIN HEADER  ==========*/
.main-header {
  padding-bottom: 10px;

  @include medium {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 24px;
    color: #d64545;
    text-transform: uppercase;
  }
}


/*==========  LOGIN  ==========*/

.login-form {
  max-width: 620px;
  margin: 30px 16px 120px;

  @include medium {
    margin-left: auto;
    margin-right: auto;
  }

}

.login-form__input {
  display: block;
  width: 100%;
  margin: 10px 0 10px;
  line-height: 26px;
  border: none;
  padding: 10px;
  border: 1px solid darken(#e3e3e3, 15%);
}

.login-form__submit {
  display: block;
  width: 100%;
}

.login-form__invalid-email {
  text-align: left;
}




/*==========  MATCH ITEM  ==========*/

.matches-list {
  padding: 0;
  list-style: none;
  margin: 30px auto 0;
  overflow: hidden;
  padding: 0 5%;

  @include medium {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
  }

  @include wide {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.match-item {
  margin: 30px 0 30px;
  float: left;
  position: relative;

  @include medium {
    width: 50%;
    margin-bottom: 60px;
  }

  @include wide {
    width: 33.3%;
  }
}

.match__date {
  display: inline-block;
  color: #0f9d58;
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.match {
  background: #ffffff;
  border-bottom: 4px solid #d3d3d3;
  margin: 0 10px;
  padding: 40px 10px 30px;
  position: relative;

  @include medium {
    padding-top: 60px;
  }

}

.match__score {
  float: left;
  width: 50%;
  padding: 0 20px 60px;
  position: relative;

  @include medium {
    padding-bottom: 90px;
  }

}

.match__score-field {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 5px solid #f4c900;
  color: #0f9d58;
  font-size: 60px;
  line-height: 100px;
  padding: 0;

  .match--disabled & {
    border-color: transparent;
  }

  @include medium {
    font-size: 120px;
    line-height: 100px;
  }

  @include wide {
    font-size: 160px;
    line-height: 160px;
  }

  &:focus {
    outline: none;
  }
}

.match__label {
  display: block;
  font-size: 20px;
  color: darken(#e3e3e3, 5%);
  text-transform: uppercase;
  font-weight: 900;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 210px;

  @include medium {
    top: 260px;
  }

  @include wide {
    top: 300px;
  }
}

.match__actual-score {
  width: 100%;
  clear: both;
  border-top: 1px solid #d3d3d3;
  position: relative;
  padding-top: 20px;
  top: -30px;
  font-size: 22px;
}

.match--wrong,
.match--correct,
.match--exact {
  &:after {
    display: block;
    position: absolute;
    top: 10px;
    color: darken(#e3e3e3, 5%);
    width: 100%;
    text-align: center;
  }
}


.match--wrong {
  &:after {
    content: "Points earned: 0"!important;
  }
}

.match--correct {
  &:after {
    content: "Points earned: +1"!important;
  }
}

.match--exact {
  &:after {
    content: "Points earned: +3"!important;
  }
}


/*==========  PROBABILITIES  ==========*/

.probabilities {
  padding: 20px 10px;
  margin: 24px 10px 0;
  background: #ffffff;
  position: relative;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
  }

  h3 {
    text-transform: uppercase;
    color: darken(#e3e3e3, 5%);
    margin-bottom: 15px;
    font-size: 22px;
  }

  span {
    float: left;
    height: 20px;
    background: #ccc;
    position: relative;
    margin-top: 24px;

    &:before {
      display: block;
      width: 100%;
      color: darken(#e3e3e3, 10%);
      font-size: 14px;
      text-transform: uppercase;
      position: absolute;
      top: -24px;
      min-width: 60px;
    }
  }

  .prob-win {
    background-color: #d64545;

    &:before {
      content: "Home";
      text-align: left;
      left: 0;
    }
  }

  .prob-draw {
    background-color: #bf3e3e;

    &:before {
      content: "Draw";
      text-align: center;
    }
  }

  .prob-lose {
    background-color: #a43535;

    &:before {
      content: "Away";
      text-align: right;
      right: 0;
    }
  }
}

.points {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  padding: 20px;
  background: #ffffff;
  border-bottom: 4px solid #d3d3d3;

  @include small-only {
    display: none;
  }
}


/*==========  FLAGS  ==========*/

.flag {
  display: inline-block;
  width: $flagSize;
  height: $flagSize;
  background: url(../images/sprite-alphabetical.gif) repeat 0 0;
  background-size: $flagSize 2816px;
}

@each $country in $countries {
  $i:0 !default;
  .flag--#{$country} {
    background-position: 0 (-($i*$flagSize));
  }
  $i:$i+1;
}



/*==========  FOOTER  ==========*/
.main-footer {
  border-top: 1px solid darken(#e3e3e3, 20%);
  margin-top: 60px;
  padding: 30px 0 30px;
  font-size: 14px;

  &,
  a {
    color: darken(#e3e3e3, 30%);
  }

  a:hover {
    color: #333;
  }
}


/*==========  HELPER  ==========*/

.clear {
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}
